@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@mixin scrollbars($size, $foreground-color, $background-color) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
    background: $background-color;
  }
  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    cursor: pointer;
  }
}
@include scrollbars(6px, #1f6a80, transparent);
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  //background: #222;
  font-family: "Noto Sans TC", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
  user-select: none;
}
.linear{
  background: -webkit-linear-gradient(right, #30cfd0 30%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.all {
  background: #fff;
  width: 100%;
  max-width: 1200px;
  height: 2000px;
  img {
    width: 100%;
  }
  .contain {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    .header {
      width: 100%;
      padding-bottom: 10px;
      margin: 0 auto;
      h1 {
        margin-bottom: 20px;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    .total {
      margin: 30px 0;
      font-weight: 600;
      font-size: 26px;
      text-align: center;
      font-style: italic;
      letter-spacing: 3px;
    }
  }
}

.title{
  font-weight: 600;
  font-style: italic;
  text-align: center;
  letter-spacing: 3px;
  font-size: 26px;
  margin-bottom: 10px;
  display: inline-block;
}
.competitor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .slide {
    width: 600px;
    height: 300px;
    margin: 30px auto 0px auto;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
  }
  .slidebox {
    position: absolute;
    left: 0;
    height: 300px;
    font-size: 0px;
    overflow: hidden;
    .block {
      cursor: pointer;
      vertical-align: top;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      color: #fff;
      transition: all 0.3s;
      .level {
        user-select: none;
        font-size: initial;
        display: inline-block;
        width: 280px;
        height: 280px;
        margin: 0 10px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 50%;
        hr {
          height: 1px;
          background: #fff;
          border: none;
        }
        span {
          font-style: italic;
        }
        .count {
          font-weight: 600;
          font-size: 64px;
          position: relative;
          &::after {
            content: "人發起戰帖";
            font-size: 16px;
          }
        }
      }
    }
  }
  .btn {
    position: absolute;
    width: 600px;
    display: flex;
    justify-content: space-between;
    div {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: #333;
      border-radius: 50%;
      color: #fff;
      line-height: 40px;
      text-align: center;
    }
    .next {
      margin-right: -40px;
    }
    .prev {
      margin-left: -40px;
    }
  }
  #a {
    background: #05668d;
  }
  #b {
    background: #028090;
  }
  #c {
    background: #00a896;
  }
  #d {
    background: #02c39a;
  }
  #e {
    background: #a6a6a9;
  }
}

.wall {
  margin: 20px 0;
  border-bottom: 1px solid #00a896;
  padding-bottom: 20px;
  text-align: center;
  .newsbox {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    .allnews {
      width: 100%;
      top: 0px;
      position: absolute;
    }
    .content {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      .info {
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;
        .challenger {
          font-weight: 600;
          color: #028090;
          font-size: 18px;
          margin-right: 10px;
        }
        .target {
          color: #05668d;
          font-weight: 600;
        }
        .time {
          font-size: 14px;
          color: #888;
          letter-spacing: 0;
          font-style: italic;
        }
      }
      .text {
        letter-spacing: 2px;
        color: #888;
        padding: 10px;
        font-size: 22px;
        font-style: italic;
      }
    }
  }
}
.other{
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .allchallnger{
    display: flex;
    flex-direction: column;
    background: #ddeaf6;
    padding: 20px;
    border-radius: 3px;
  }
  .for_kinds {
    width: 280px;
    position: relative;
    margin-bottom: 10px;
    select {
      font-size: 18px;
      outline: none;
      width: 260px;
      height: 40px;
      position: relative;
      border: 0.5px solid #00a896;
      appearance: none;
      padding: 0px 10px;
      border-radius: 3px;
    }
    label {
      cursor: pointer;
      padding: 0;
      margin: 0;
      border: none;
      position: absolute;
      width: 40px;
      height: 40px;
      background: #00a896;
      right: 0;
      pointer-events: none;
      border-radius: 3px;
      z-index: 1;
      &:before {
        display: block;
        border: 20px solid #eff3f6;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        content: "";
        transform: scale(0.4, 0.6);
        top: 6px; position: absolute;
      }
    }
    option{
      font-size: 20px;
    }
  }
  .item{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 30px;
    .number{
      border-radius: 10px 0px 0px 10px;
      background: #00a896;
      padding: 10px;
      min-width: 20px;
      color: #fff;
    }
    .who{
      font-size: 12px;
      min-width: 100px;
      position: relative;
      margin-bottom: 5px;
      &::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url('../../assets/profile2.png');
        background-size: cover;
        top: 0;
        left: -35px;

      }
    }
    .content{
      font-size: 18px;
      max-width: 60%;
      width: fit-content;
      padding: 10px;
      border-radius: 10px;
      background: #fff;
      span{
        font-size: 12px;
      }
    }
    .time{
      font-size: 12px;
      display: contents;
      color: #666;
    }
  }
  .join{
    position: sticky;
    top: 20px;
    text-align: center;
    background: #00a896;
    padding: 5px 30px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin: 15px;
  }
}
select,option{
  font-family: "Noto Sans TC";
}

.backTop{
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  border-radius: 2px;
  background: #888;
  &::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 17px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    z-index: 1;
    transform: rotate(45deg)
  }
}
.info {
  bottom: 0px;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 8px;
  box-sizing: border-box;
}
@media screen and (max-width: 640px) {
  .all {
    .contain {
      padding: 15px;
      .header{
        h1{
          font-size: 20px;
        }
      }
      .total {
        font-size: 18px;
      }
    }
  }
  .info {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
